<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>SendingEmail</display-name>
  <welcome-file-list>
    <welcome-file>EmailForm.jsp</welcome-file>
    </welcome-file-list>
  <context-param>
        <param-name>host</param-name>
        <param-value>sandbox.smtp.mailtrap.io</param-value>
    </context-param>
 
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
 
    <context-param>
        <param-name>user</param-name>
        <param-value>30c0cc6f055424</param-value>
    </context-param>
 
    <context-param>
        <param-name>pass</param-name>
        <param-value>8f3aadf5dd068a</param-value>
    </context-param>
  <servlet>
    <servlet-name>EmailSendingServlet</servlet-name>
    <servlet-class>com.revature.email.EmailSendingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmailSendingServlet</servlet-name>
    <url-pattern>/EmailSendingServlet</url-pattern>
  </servlet-mapping>
</web-app>